aside.menu-area {
  background-color: var(--bg-dark);
  box-shadow: var(--shadow-inset);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  padding: 15px;
}

.menu a:hover {
  color: #61dafb;
  background-color: #152730;
  box-shadow: var(--shadow-inset);
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu a {
    display: inline;
    padding: 10px;
    margin: 0;
    width: 50%;
    text-align: center;
  }

  .menu {
    height: 100%;
    justify-content: space-around;
  }
}
